/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
        1.1 Import fonts
        1.2 CSS variabelen
        1.3 CSS reset
        1.4 Image settings
        1.5 Form settings
    2. Typografie
        2.1 Typografie headings
        2.2 Typografie overig
    3. Layout
        3.1 Body
        3.2 Flexbox properties
    4. Areas
        4.1 Blogpost schuin text
        4.2 Blogpost schuin lijntje
        4.3 Blogpost achtergrond
        4.4 Titel en subtitel
        4.5 Amsterdam icon
        4.6 Auteur image
        4.7 Aside setup
            4.7.1 Aside positionering
            4.7.2 Lijntje boven aside
            4.7.3 Datum in aside
            4.7.4 Dag in aside
            4.7.5 Social icons in aside
        4.8 Artikel settings
            4.8.1 Artikel sectie settings
            4.8.2 Quote in artikel
        4.9 Formulier settings
            4.9.1 Form > titel settings
            4.9.2 Form > Streepje na titel
            4.9.3 Label settings
            4.9.4 Afstand label en inputveld
            4.9.5 Textarea breedte
            4.9.6 Inputvelden
            4.9.7 Cursor settings
            4.9.8 Button
        4.10 Gerelateerde artikelen > titel settings
            4.10.1 Gerelateerde artikelen > Streepje na titel
            4.10.2 Gerelateerde artikelen: ruimte tussen verschillende artikelen
            4.10.3 Gerelateerde artikelen: ruimte tussen een artikel
            4.10.4 Gerelateerde artikelen: breedte van een artikel
            4.11 Footer
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/

/* 1.1 Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@800&family=Nanum+Myeongjo:wght@400&display=swap');


/* 1.2 CSS Variabelen */
:root {
    --clr-primary: #058FDD;
    --clr-secondary: #343434;
    --clr-background: #F7F6F9;
}

/* 1.3 CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 1.4 Image settings */
img,
picture {
    max-width: 100%; /* image will shrink when viewport gets narrower */
    display: block; /* prevents spacing issues that might happen */
}

/* 1.5 Form settings */
input,
button,
textarea,
blockquote,
select {
    font: inherit;
}


/*////////////////////////
    2. Typografie
////////////////////////*/

/* 2.1 Typografie headings */
h1,
h2,
h3 {
    font-family: "Playfair Display", sans-serif;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 2.25em;
    margin: 20px 0 40px 0;
}

h3 {
    font-size: 1.5em;
    margin-block: 5px;
}

/* 2.2 Typografie overig */
p,
span,
li,
a,
blockquote {
    font-family: "Nanum Myeongjo", sans-serif;.
    font-weight: 400;
    line-height: 1.5;
}

ul,
ol {
    margin-block: 20px;
}

li {
    margin-left: 40px;
    line-height: 2;
}

p {
    font-weight: 400;
    line-height: 2;
    font-size: 1em;
}

span {
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
}

time {
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
}

a,
a:visited,
a:link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--clr-primary);
    letter-spacing: 1px;
    font-size: 0.875em;
    font-family: "Inter", sans-serif;
}

/*////////////////////////
    3. Layout
////////////////////////*/

/* Body */
body {
    font-family: 'Nanum Myeongjo', serif;
    color: var(--clr-secondary);
    background-color: var(--clr-background);
    overflow-x: hidden;
}

/* Flexbox properties */
header,
main,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    max-width: 80em;
}

/*////////////////////////
    4. Areas
////////////////////////*/

/* 4.1 Blogpost schuin text */
body::before {
    position: absolute;
    display: inline-block;
    content: 'Blogpost';
    font-family: "Playfair Display", sans-serif;
    font-size: 1.5em;
    top: 200px;
    left: 0;
    transform: rotate(-90deg);
}

/* 4.2 Blogpost schuin lijntje */
body::after {
    position: absolute;
    display: inline-block;
    content: '';
    border-top: solid 2px black;
    width: 50px;
    top: 300px;
    left: 25px;
    transform: rotate(-90deg);
}

/* 4.3 Blogpost achtergrond */
header::after {
    position: absolute;
    font-family: "Playfair Display", sans-serif;
    color: rgba(45, 42, 46, 0.03);
    font-size: 31.25em;
    content: 'Blogpost';
    z-index: -1;
    top: -100px;
}

/* 4.4 Titel en subtitel */
header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 40px;
}

/* 4.5 Amsterdam icon */
header div:nth-of-type(1) img {
    margin-top: 60px;
    height: 130px;
    width: 130px;
}

/* 4.6 Auteur image */
header div:nth-of-type(2) img {
    height: 80px;
    width: 80px;
    margin-block: 15px;
}

/* 4.7 Aside setup */
main {
    position: relative;
}

/* 4.7.1 Aside positionering */
aside {
    position: absolute;
    left: 80px;
    top: 30px;
}

/* 4.7.2 Lijntje boven aside */
aside {
    border-top: 2px solid var(--clr-primary);
}

/* 4.7.3 Datum in aside */
aside time {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    margin-bottom: 40px;
}

/* 4.7.4 Dag in aside */
aside span {
    font-family: "Playfair Display", sans-serif;
    font-size: 3em;
}

/* 4.7.5 Social icons in aside */
aside img {
    margin-block: 10px;
    width: 64px;
}

/* 4.8 Artikel settings */
article {
    margin-inline: auto;
    max-width: 55em;
}

article p {
    margin-block: 20px;
}

article + article {
    margin-left: 30px;
}

/* 4.8.1 Artikel sectie settings */
article > section {
    margin-bottom: 60px;
}

/* 4.8.2 Quote in artikel */
article blockquote {
    position: relative;
    font-size: 1.1em;
    padding: 0 0 0 20px;
    margin-block: 30px;
    font-style: italic;
    border-left: solid 3px var(--clr-primary);
}

/* 4.9 Formulier settings */
form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin-block: 20px;
}

/* 4.9.1 Form > titel settings */
form > h2 {
    position: relative;
}

/* 4.9.2 Form > Streepje na titel */
form > h2::after {
    position: absolute;
    content: "";
    top: 55%;
    left: 30%;
    border: 1px solid black;
    width: 70%;
}

/* 4.9.3 Label settings */
label {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    margin-block: 7px;
    font-size: 0.875em;
}

/* 4.9.4 Afstand label en inputveld */
input[type="text"],
input[type="email"],
select {
    width: 200px;
    margin-left: 15px;
    margin-block: 5px;
}

/* 4.9.5 Textarea breedte */
textarea {
    width: 800px;
}

/* 4.9.6 Inputvelden */
input[type="text"],
input[type="email"],
textarea,
select {
    color: var(--clr-secondary);
    background: #EFEFEF;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 10px;
    font-family: "Inter", sans-serif;
    outline: none;
    border: none;
}

/* 4.9.7 Cursor settings */
input[type="checkbox"],
input[type="radio"],
select,
button {
    cursor: pointer;
}

/* 4.9.8 Button */
button {
    font-family: "Inter", sans-serif;
    color: black;
    padding: 5px 20px;
    width: 200px;
}

/* 4.10 Gerelateerde artikelen > titel settings */
section > h2 {
    position: relative;
}

/* 4.10.1 Gerelateerde artikelen > Streepje na titel */
form + section > h2::after {
    position: absolute;
    content: "";
    top: 55%;
    left: 30%;
    border: 1px solid black;
    width: 70%;
}

/* 4.10.2 Gerelateerde artikelen: ruimte tussen verschillende artikelen */
section section div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*gap: 3em;*/
}

/* 4.10.3 Gerelateerde artikelen: ruimte tussen een artikel */
section section article div {
    margin-block: 20px;
}

/* 4.10.4 Gerelateerde artikelen: breedte van een artikel */
section section div article {
    max-width: 369px;
}

/* 4.11 Footer */
footer {
    margin-block: 2em;
}

footer p {
    font-family: "Inter", sans-serif;
}
